/* Reset default styles */

body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Main navigation styles */
.navbar {
    background-color: #aa853d ;
   
}

.navbar ul {
    display: flex;
    
    
}

.navbar li {
    position: relative;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}


.navbar a:hover {
    background-color: wheat
}

/* End of  navigation styles */

/* Submenu styles */
.navbar ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

.navbar ul li:hover > ul {
    display: block;
    background-color: wheat;
}

.navbar ul ul li {
    width: 100%;
}

.navbar ul ul a {
    padding: 10px 20px;
    background-color: #aa853d;
}

.logo-small{
    width: 20px;
    mix-blend-mode: multiply;
    
}
/* end of Submenu styles */


/*logo container with paragraphs */
.container-logo{
   
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-logo{
    width: 50%;
}

p{
    font-size: 15px;
    line-height: 2;
    padding: 20px;
    
}
/* end of logo  container with a paragraph */

/*Start of the sticker container*/

.stickers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;    
}

.stickers a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    width: 30%;
}

.expert{
    width: 100%;
    border: 2px solid black;
}

.delivery{
    width: 100%;
    border: 2px solid black
}

.plant{
    width: 100%;
    border: 2px solid black;
}

.sticker-button{
    display: flex;
   justify-content: space-evenly;
   margin-top: 50px;
   
}

.resource{
     border: 2px solid black;
     padding: 20px;
     background-color: #aa853d;
     
}

.resource a{
    color: white;
    text-decoration: none;
}


.groundup{
    border: 2px solid black;
    padding: 20px;
    background-color: #aa853d;
}

.groundup a{
    color: white;
    text-decoration: none;

}


h{ 
    font-size: 15px;
    color: black;
}
/*end of stickers */

/*start of more button css */
.more-button{
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50% , 50%);
   
    color: white;
    background-color: #aa853d;
    border : 2px solid black;

    height: 50px;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 15px;
    color: white;
}

.more-link{
    text-decoration: none;
}
/*End of more button css*/


/*Start of the about page CSS*/

/*Products container start*/
.products-container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
}

.products{
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    gap : 20px;
    width: 100%;
    ;
}

.product {
    flex-basis: calc(25% - 20px);
    margin:5px;
    background-color: #aa853d;
    border: 2px solid black;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.product:hover h2{
    opacity: 0;
    
}

.product:hover p{
    opacity: 1;
    transform: translateX(0);
    color: white;
}

.product h2{
    font-size: 20px;
    color: white;
    margin-top: 0;
    transition: opacity 0.5 ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
   
}

.product p {
    font-size: 12px;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}


/*Product container end*/

/*End of the about page CSS*/


/*Services pages CSS start*/


/*services container div */
.service-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.services-section {
    padding: 20px;
}

.service-title {
    font-size: 20px;
    font-weight: bold;
    color: #aa853d;
    margin-top: 20px;
    margin-bottom: 20px;
}

.service-description {
    font-size: 12px;
    color: #333;
    line-height: 1.5;
}

    
/*End of services container div*/


/*End of the about page CSS*/



/*Start of find us Page*/

/*contact section start*/

.contact-section {
    font-size: 24px;
    color: #aa853d;
    margin-bottom: 10px;
}

.contact-section {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.contact-section p {
    margin: 0;
    font-size: 16px;
    color: black;
}

.contact-section a {
    text-decoration: none;
    color: #aa853d;
}


.address-title { /*Start of  adress container*/
    font-size: 24px;
    color: #aa853d;
    margin-bottom: 10px;
}

.address-section {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.address-section p {
    margin: 0;
    font-size: 16px;
    color: black;
}

.address-section a { /*end of  adress container*/
    text-decoration: none;
    color: #aa853d;
}

/* Additional styles for the inquiry form */
label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    font-size: 16px;
    color: #aa853d;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

button {
    
    background-color: #aa853d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: auto;
    
}

.input-container{
    text-align: center;
}

.header{
    color: #aa853d;
}



button:hover {
    background-color: wheat;
}

.Navigation-bottom{
    background-color: #aa853d;
    margin-top:  20px;
    padding-top: 20px;
    padding-left: 20px;
}

.footbar a {
 text-decoration: none;
}

/*contact section end*/

/*End of find us page*/



/*Khudua Groundup Start*/

/*Mission styles start*/

.mission-title{
    font-size: 20px;
    font-weight: bold;
    color: #aa853d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.mission-statement{
    font-size: 12px;
    color: #333;
    line-height: 1.5;
}

.service-container h2{
    font-size: 20px;
    font-weight: bold;
    color: #aa853d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-container p{
    font-size: 12px;
    color: #333;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;

}
/*Mission styles end*/

/*Khudua Groundup End*/


/*Khudua Resources Start*/
.resource-mission{
    font-size: 20px;
    font-weight: bold;
    color: #aa853d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.resource-container p{
    font-size: 12px;
    color: #333;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;}


/*Khudua Resources end*/